@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.ttf");
}

.rootcontainer {
  font-family: 'Inter Medium';
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  border: 2px solid blue;
  margin-top: 15px;
}

.tagline {
  text-transform: uppercase;
  text-align: end;
  font-size: 12px;
  color: #A5A5A5;
  width: 71px;
  height: 40px;
  margin-right: 11px;
}

.logo_header {
  width: 178.96px;
  height: 40.5px;
}

.logo_header_container {
  
}

.catalog_header {
  flex-shrink: 0;
  width: 129px;
  height: 40px;
  border-radius: 5px;
  background: #0E71D6;
  color: #fff;
  margin-left: 51px;
  
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100.5%;
  letter-spacing: 0.16px;
}

.catalog_header > div {
  padding: 12px;
}


.contacts_header {
  border: 1px solid red;
}